<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="/images/logoweather.png" />
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/animate.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">

  <link rel="stylesheet" href="css/ionicons.min.css">

  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/icomoon.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {{!-- partials --}}
  {{>header}}
  <main>
    <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container">
        <div class="row d-flex no-gutters">
          <div class="col-md-6 d-flex">
            <div class="container-fluid">
              <div class="row justify-content-center pt-5">
                <div class="col-md-7 text-center heading-section heading-section-dark ftco-animate">
                  <span class="subheading">{{calculatorTime data.currently_data.time}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="weather-wrapper">
                    <div class="weather-card madrid"
                      style="background-image:url('/images/weatherbg/{{data.icon}}.jpg')">
                      <div class="weather-icon">
                        <img class="icon-style" src="/icon_weather/{{data.icon}}.svg">
                      </div>
                      <h1>{{data.temperature}}ยบ</h1>
                      <div class="weather-detail">
                        <p>{{place_name}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="row justify-content-start py-5">
              <div class="col-md-12 heading-section ftco-animate">
                <div class="heading-section ftco-animate ">
                  <h2 class="mb-4">Find other weather results</h2>
                </div>
                <div class="weather-search  ftco-animate">
                  <form name="weather_input" action="/autocomplete" method="POST" onsubmit="return validateForm()">
                    <div class="input-group mb-3">
                      <input id="search" type="text" class="form-control" placeholder="Type your location..."
                        name="search">
                      <div class="input-group-append">
                        <button class="btn btn-primary" name="submit" value="Submit">Search</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-counter" id="section-counter">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 d-flex">
              <div class="text d-flex align-items-center">
                <strong class="number"
                  data-number="{{data.currently_data.dewPoint}}">{{data.currently_data.dewPoint}}</strong>
              </div>
              <div class="text-2">
                <span>Data <br>Dew Point</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 d-flex">
              <div class="text d-flex align-items-center">
                <strong class="number"
                  data-number="{{data.currently_data.pressure}}">{{data.currently_data.pressure}}</strong>
              </div>
              <div class="text-2">
                <span>Data <br>Pressure</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 d-flex">
              <div class="text d-flex align-items-center">
                <strong class="number"
                  data-number="{{data.currently_data.windSpeed}}">{{data.currently_data.windSpeed}}</strong>
              </div>
              <div class="text-2">
                <span>Data <br>Wind Speed</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 d-flex">
              <div class="text d-flex align-items-center">
                <strong class="number"
                  data-number="{{data.currently_data.windBearing}}">{{data.currently_data.windBearing}}</strong>
              </div>
              <div class="text-2">
                <span>Data <br>wind Bearing</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section testimony-section bg-secondary">
      <div class="container-fluid">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section heading-section-dark ftco-animate">
            <span class="subheading">VIEW MORE DEATAIL WEATHER THIS LOCATION</span>
            <h2 class="mb-4" style="color:#fff">{{place_name}}</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              {{#each data.hourly_data}}
              {{>list_hourly_result}}
              {{log this}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {{>footer}}

</body>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>
<script src="js/index.js"></script>

</html>